<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/style.css"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <title>Contact US</title>
</head>
<body>
    <header class="header">

        <nav class="nav main-nav">
            <ul>
                <li><a href="/">Home</a></li>
                <li><a href="/login">Login</a></li>
                <li><a href="/">About Us</a></li>
                <li><a href="/contact">Contact Us</a></li>
            </ul>
        </nav>

        <h1 class="title">Lego store</h1>

    </header>

    <section class="content container">

        <p class="f1">
            Join the Lego Store Team by creating an account at the Lego Store website 
        </p>
        
        <button onclick="window.location.href='/register';" role="button" class="btn" > Register Now!</button>
               

        <p class="f2">
            Choose from hundreds of bricks the shape that you want. <br> & <br> Get your own model kits
            along with instructions of how the models should be built.
        </p>

    </section>

    <br>

    <hr class="break">

    <section class="content container">

        <h1 class="title-again" id="about-us">About us</h1>

        <img class="Home-page-image" src="images/homepagebrick.png">

        <p class="f3">
            Where does it come from?
            Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a piece of classical
            Latin literature from 45 BC, making it over 2000 years old. Richard McClintock, a Latin professor at 
            Hampden-Sydney College in Virginia, looked up one of the more obscure Latin words, consectetur, from a 
            Lorem Ipsum passage, and going through the cites of the word in classical literature, discovered the 
            lish versions from the 1914 translation by H. Rackham.
        </p>
        
        <img class="Home-page-image-two" src="images/homepagebrick.png">

        <p class="f3">
            Where does it come from?
            Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a piece of classical
            Latin literature from 45 BC, making it over 2000 years old. Richard McClintock, a Latin professor at 
            Hampden-Sydney College in Virginia, looked up one of the more obscure Latin words, consectetur, from a 
            Lorem Ipsum passage, and going through the cites of the word in classical literature, discovered the 
            versions from the 1914 translation by H. Rackham.
        </p>
    </section>

        <br>

    <footer class="footer">
        <div class="container main-footer-container">
            <h3>Lego store</h3>
            <ul class="nav-two footer-nav">
                <li>
                    <a href="https://instagram.com" target="_blank" class="fa fa-instagram"></a>                
                </li>
                <li>
                    <a href="https://twitter.com" target="_blank" class="fa fa-twitter"></a>
                </li>
                <li>
                    <a href="https://facebook.com" target="_blank" class="fa fa-facebook"></a>
                </li>
            </ul>
        </div>   
    </footer>

</body>
</html>