<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/index.css"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <script src="js/store.js" async></script>
    <title>Store</title>
</head>
<body>
    <header class="header">

        <nav class="nav main-nav">
            <ul>
                <li><a href="/">Home</a></li>
                <li><a href="/index">Store</a></li>
                <li><a href="/contact">Contact Us</a></li>
            </ul>

            <form action="/logout?_method=DELETE" method="POST" class="logout-nav">
                <button type="submit" class="btn-logout">Log out</button>
            </form>

        </nav>


        <h1 class="title">Lego store</h1>

    </header>
    
        <section class="container content-section">
            <h2 class="section-header">Individual bricks</h2>
            <div class="shop-items">
                <div class="shop-item">
                    <span class="Lego-title">Lego 1</span>
                    <img class="Lego-image" src="images/Lego1.png" width= "250" height="300">
                    <div class="shop-item-details">
                        <span class="Lego-price">£ 5.79</span>
                        <button class="btn btn-primary btn-add" type="button">ADD TO CART</button>
                    </div>
                </div>
                <div class="shop-item">
                    <span class="Lego-title">Lego 2</span>
                    <img class="Lego-image" src="images/Lego2.png"  width= "250" height="300">
                    <div class="shop-item-details">
                        <span class="Lego-price">£4.99</span>
                        <button class="btn btn-primary btn-add"type="button">ADD TO CART</button>
                    </div>
                </div>
                <div class="shop-item">
                    <span class="Lego-title">Lego 3</span>
                    <img class="Lego-image" src="images/Lego3.png"  width= "250" height="300">
                    <div class="shop-item-details">
                        <span class="Lego-price">£8.34</span>
                        <button class="btn btn-primary btn-add" type="button">ADD TO CART</button>
                    </div>
                </div>
                <div class="shop-item">
                    <span class="Lego-title">Lego 4</span>
                    <img class="Lego-image" src="images/Lego4.png"  width= "250" height="300">
                    <div class="shop-item-details">
                        <span class="Lego-price">£2.49</span>
                        <button class="btn btn-primary btn-add" type="button">ADD TO CART</button>
                    </div>
                </div>
                <div class="shop-item">
                    <span class="Lego-title">Lego 5</span>
                    <img class="Lego-image" src="images/Lego5.png"  width= "250" height="300">
                    <div class="shop-item-details">
                        <span class="Lego-price">£4.99</span>
                        <button class="btn btn-primary btn-add" type="button">ADD TO CART</button>
                    </div>
                </div>
                <div class="shop-item">
                    <span class="Lego-title">Lego 6</span>
                    <img class="Lego-image" src="images/Lego6.png"  width= "250" height="300">
                    <div class="shop-item-details">
                        <span class="Lego-price">£4.99</span>
                        <button class="btn btn-primary btn-add" type="button">ADD TO CART</button>
                    </div>
                </div>
                <div class="shop-item">
                    <span class="Lego-title">Lego 7</span>
                    <img class="Lego-image" src="images/Lego7.png"  width= "250" height="300">
                    <div class="shop-item-details">
                        <span class="Lego-price">£4.99</span>
                        <button class="btn btn-primary btn-add" type="button">ADD TO CART</button>
                    </div>
                </div>
                <div class="shop-item">
                    <span class="Lego-title">Lego 8</span>
                    <img class="Lego-image" src="images/Lego8.png"  width= "250" height="300">
                    <div class="shop-item-details">
                        <span class="Lego-price">£4.99</span>
                        <button class="btn btn-primary btn-add" type="button">ADD TO CART</button>
                    </div>
                </div>
                <div class="shop-item">
                    <span class="Lego-title">Lego 9</span>
                    <img class="Lego-image" src="images/Lego9.png"  width= "250" height="300">
                    <div class="shop-item-details">
                        <span class="Lego-price">£11.59</span>
                        <button class="btn btn-primary btn-add" type="button">ADD TO CART</button>
                    </div>
                </div>
                <div class="shop-item">
                    <span class="Lego-title">Lego 10</span>
                    <img class="Lego-image" src="images/Lego10.png"  width= "250" height="300">
                    <div class="shop-item-details">
                        <span class="Lego-price">£11.59</span>
                        <button class="btn btn-primary btn-add" type="button">ADD TO CART</button>
                    </div>
                </div>                <div class="shop-item">
                    <span class="Lego-title">Lego 11</span>
                    <img class="Lego-image" src="images/Lego11.png"  width= "250" height="300">
                    <div class="shop-item-details">
                        <span class="Lego-price">£6.93</span>
                        <button class="btn btn-primary btn-add" type="button">ADD TO CART</button>
                    </div>
                </div>                <div class="shop-item">
                    <span class="Lego-title">Lego 12</span>
                    <img class="Lego-image" src="images/Lego12.png" width= "250" height="300">
                    <div class="shop-item-details">
                        <span class="Lego-price">£6.93</span>
                        <button class="btn btn-primary btn-add" type="button">ADD TO CART</button>
                    </div>
                </div>
            </div>
        </section>
        <section class="container content-section">
            <h2 class="section-header">Shapes</h2>
            <div class="shop-items">
                <div class="shop-item">
                    <span class="Lego-title">Legoshape1</span>
                    <img class="Lego-image" src="images/Legoshape1.png" width= "250" height="300">
                    <div class="shop-item-details">
                        <span class="Lego-price">£29.10</span>
                        <button class="btn btn-primary btn-add" type="button">ADD TO CART</button>
                    </div>
                </div>
                <div class="shop-item">
                    <span class="Lego-title">Legoshape2</span>
                    <img class="Lego-image" src="images/Legoshape2.png" width= "250" height="300">
                    <div class="shop-item-details">
                        <span class="Lego-price">£49.23</span>
                        <button class="btn btn-primary btn-add" type="button">ADD TO CART</button>
                    </div>
                </div>
                <div class="shop-item">
                    <span class="Lego-title">Legoshape3</span>
                    <img class="Lego-image" src="images/Legoshape3.png" width= "250" height="300">
                    <div class="shop-item-details">
                        <span class="Lego-price">£25.46</span>
                        <button class="btn btn-primary btn-add" type="button">ADD TO CART</button>
                    </div>
                </div>
                <div class="shop-item">
                    <span class="Lego-title">Legoshape4</span>
                    <img class="Lego-image" src="images/Legoshape4.png" width= "250" height="300">
                    <div class="shop-item-details">
                        <span class="Lego-price">£30.18</span>
                        <button class="btn btn-primary btn-add" type="button">ADD TO CART</button>
                    </div>
                </div>
            </div>
        </section>
        <section class="container content-section">
            <h2 class="section-header">CART</h2>
            <div class="cart-content">
                <span class="cart-item cart-header cart-column">ITEM</span>
                <span class="cart-price cart-header cart-column">PRICE</span>
                <span class="cart-quantity cart-header cart-column">QUANTITY</span>
            </div>
            <div class="cart-lego">

            </div>
            <div class="cart-total">
                <strong class="cart-total-title">Total</strong>
                <span class="cart-total-price">£0</span>
            </div>
            <button class="btn btn-primary btn-shop" type="button">Shop</button>
        </section>
        <footer class="footer">
            <div class="container main-footer-container">
                <h3>Lego store</h3>
                <ul class="nav-two footer-nav">
                    <li>
                        <a href="https://instagram.com" target="_blank" class="fa fa-instagram"></a>                
                    </li>
                    <li>
                        <a href="https://twitter.com" target="_blank" class="fa fa-twitter"></a>
                    </li>
                    <li>
                        <a href="https://facebook.com" target="_blank" class="fa fa-facebook"></a>
                    </li>
                </ul>
            </div>   
        </footer>
    </body>
</html>