<% if (messages.error) { %>
    <%= messages.error %>
<% } %>
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/style.css"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <title>Contact US</title>
</head>
<body>
    <header class="header">

        <nav class="nav main-nav">
            <ul>
                <li><a href="/">Home</a></li>
                <li><a href="/login">Login</a></li>
                <li><a href="/">About Us</a></li>
                <li><a href="/contact">Contact Us</a></li>
            </ul>
        </nav>

        <h1 class="title">Lego store</h1>

    </header>

    <h1 class="title-two">Login</h1>
        <div class="login">
            <form action="/login" method="POST">
                <div class="form-group">
                    <label class="label" for="email">Email</label><br>
                    <input type="email" name="email" id="email" required>
                </div>
                <br>
                <div class="form-group">
                    <label class="label" for="password">Password</label><br>
                    <input type="password" name="password" id="password" required>
                </div>
                <br>
                <button type="submit" class="btn button">Login</button>
                <br>
            </form>
        </div>

        
        <br>

    <footer class="footer">
        <div class="container main-footer-container">
            <h3>Lego store</h3>
            <ul class="nav-two footer-nav">
                <li>
                    <a href="https://instagram.com" target="_blank" class="fa fa-instagram"></a>                
                </li>
                <li>
                    <a href="https://twitter.com" target="_blank" class="fa fa-twitter"></a>
                </li>
                <li>
                    <a href="https://facebook.com" target="_blank" class="fa fa-facebook"></a>
                </li>
            </ul>
        </div>   
    </footer>

</body>
</html>
