* {
    box-sizing: border-box;
    font-family: Raleway;
}

html, body {
    margin: 0;
    padding: 0;
    min-height: 100%;
}

.nav ul{
    margin: 0;
}

.nav li {
    display: inline;
}

.nav a {
    display: inline-block;
    padding: .7em;
    color: whitesmoke;
    text-decoration: none;
}

.main-nav {
    text-align: center;
    font-size: 1.1em;
    font-weight: lighter;
    border-bottom: 1px solid rgba(255, 255, 255, 4);
}

.main-nav li {
    padding: 0 1%;
}

.nav a:hover {
    text-decoration: underline;
}

.header{
    background-color: rgb(168, 24, 24);
    background-size: cover;
    padding-bottom: 30px;
}

.title {
    font-family: "Times New Roman", Times, serif;
    color: whitesmoke;
    text-align: center;
    font-size: 2.5em;
}

.footer {
    background-color: rgb(168, 24, 24);
    color: white;
    padding: .25em 0;
}

.main-footer-container {
    display: flex;
    align-items: center;
}

.main-footer-container ul {
    flex-grow: 1;
    text-align: end;
}

.nav-two li {
    display: inline;
}

.btn-add {
    align-items: center;
    background-color: #fff;
    border-radius: 12px;
    box-shadow: transparent 0 0 0 3px,rgba(18, 18, 18, .1) 0 6px 20px;
    box-sizing: border-box;
    color: rgb(168, 24, 24);
    cursor: pointer;
    display: inline-flex;
    flex: 1 1 auto;
    font-family: Inter,sans-serif;
    font-size: 1rem;
    font-weight: 150;
    justify-content: center;
    line-height: 1;
    margin: 0;
    outline: none;
    padding: 1rem 1.2rem;
    text-align: center;
    text-decoration: none;
    transition: box-shadow .2s,-webkit-box-shadow .2s;
    white-space: nowrap;
    border: 0;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    margin-left:auto;
    margin-right:auto;
    display:block;
}

.btn-shop {
    align-items: center;
    background-color: #fff;
    border-radius: 12px;
    box-shadow: transparent 0 0 0 3px,rgba(18, 18, 18, .1) 0 6px 20px;
    box-sizing: border-box;
    color: rgb(168, 24, 24);
    cursor: pointer;
    display: inline-flex;
    flex: 1 1 auto;
    font-family: Inter,sans-serif;
    font-size: 1.2rem;
    font-weight: 700;
    justify-content: center;
    line-height: 1;
    margin: 0;
    outline: none;
    padding: 1rem 1.2rem;
    text-align: center;
    text-decoration: none;
    transition: box-shadow .2s,-webkit-box-shadow .2s;
    white-space: nowrap;
    border: 0;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    margin-left:auto;
    margin-right:auto;
    display:block;
}

.btn:hover {
    box-shadow: rgb(168, 24, 24) 0 0 0 3px, transparent 0 0 0 0;
}

.btn-shop {
    display: block;
    margin: 40px auto 80px auto;
    font-size: 1.75em;
}

.btn {
    text-align: center;
    vertical-align: middle;
    padding: .67em .67em;
    cursor: pointer;
}

.btn-logout {
    position: absolute;
    width: 100px;
    height: 30px;
    margin: 8px;
    top: 0px;
    right: 7px;
    background-color: rgb(168, 24, 24);
    color: white;
    border: none;
    border-radius: 10px;
    box-shadow: 0px 0px 2px 2px white;
}

.btn-logout:hover {
    background-color:white;
    color: rgb(168, 24, 24);
    transition: 0.7s;
    box-shadow: 0px 0px 2px 2px rgb(168, 24, 24);
}

.content-section {
    margin: 1em;
}

.container {
    max-width: 900px;
    margin: 0 auto;
    padding: 0 1.5em;
}

.section-header {
    font-family: "Metal Mania";
    font-weight: normal;
    color: #333;
    text-align: center;
    font-size: 2.5em;
}

.shop-item {
    margin: 30px;
    border-radius: 5px;
    border: 1px solid rgb(168, 24, 24);
    padding: 20px;
}

.Lego-title {
    display: block;
    width: 100%;
    text-align: center;
    font-weight: bold;
    font-size: 1.5em;
    color: #333;
    margin-bottom: 15px;
}

.shop-item-image {
    height: 250px;
}

.shop-item-details {
    display: flex;
    align-items: center;
    padding: 5px;
}

.Lego-price {
    flex-grow: 1;
    color: #333;
}

.shop-items {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.cart-header {
    font-weight: bold;
    font-size: 1.25em;
    color: #333;
}

.cart-column {
    display: flex;
    align-items: center;
    border-bottom: 1px solid black;
    margin-right: 1.5em;
    padding-bottom: 10px;
    margin-top: 10px;
}

.cart-content {
    display: flex;
}

.cart-item {
    width: 45%;
}

.cart-price {
    width: 20%;
    font-size: 1.2em;
    color: #333;
}

.cart-quantity {
    width: 35%;
}

.Lego-title {
    color: #333;
    margin-left: .5em;
    font-size: 1.2em;
}

.cart-item-image {
    width: 75px;
    height: auto;
    border-radius: 10px;
}

.btn-remove {
    border: none;
    border-radius: .3em;
    font-weight: bold;
    border: 1px solid rgb(168, 24, 24);
}

.cart-enter-number {
    height: 34px;
    width: 50px;
    border-radius: 5px;
    border: 1px solid rgb(168, 24, 24);
    background-color: #eee;
    color: #333;
    padding: 0;
    text-align: center;
    font-size: 1.2em;
    margin-right: 25px;
}

.cart-content:last-child {
    border-bottom: 1px solid black;
}

.cart-content:last-child .cart-column {
    border: none;
}

.cart-total {
    text-align: end;
    margin-top: 10px;
    margin-right: 10px;
}

.cart-total-title {
    font-weight: bold;
    font-size: 1.5em;
    color: black;
    margin-right: 20px;
}

.cart-total-price {
    color: #333;
    font-size: 1.1em;
}

.fa {
    padding: 20px;
    font-size: 30px;
    width: 50px;
    text-align: center;
    text-decoration: none;
    border-radius: 20px;
}
  
.fa:hover {
    opacity: 0.7;
}

.fa-facebook {
    background: #3B5998;
    color: white;
}
.fa-instagram {
    background: rgb(48, 11, 17);
    color: white;
}
    
.fa-twitter {
    background: #55ACEE;
    color: white;
}
.cartItems{
    color: #fff;
}